/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #d7eaf6; /* Light blue background */
    color: #000; /* Dark text for contrast */
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* Main Content Area */
.edit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px; /* Limit max width of the form */
}

/* Top Navigation */
.top-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #bbbbbb;
    margin-bottom: 20px;
    width: 70%;
    gap: 10rem;
}

.top-nav h1 {
    font-size: 1.8em;
    color: #000;
}

.back-btn {
    background-color: #112b54; /* Dark blue for buttons */
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-btn:hover {
    background-color: #0a1e38; /* Darker blue on hover */
}

/* Form Styling */
.edit-form-container {
    background-color: #f1f8ff; /* Light blue for form background */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width:450px; /* Limit form width */
    box-sizing: border-box;
}

.edit-form-container label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    font-size: 1.1em;
}

.input-field {
    margin-bottom: 15px;
    padding: 3px;
    width: 100%;
    border: 1.5px solid #bbbbbb;
    border-radius: 5px;
    background-color: #ffffff; /* White input background */
    color: #000; /* Dark text */
    font-size: 1.2em; /* Increase font size */
    box-sizing: border-box;
}

/* Action Buttons */
.tab-btn {
    background-color: #112b54; /* Dark blue for buttons */
    color: white;
    border: none;
    padding: 10px 30px;
    margin-right: 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.1em;
}

.tab-btn:hover {
    background-color: #0a1e38; /* Darker blue on hover */
}

.delete-btn {
    background-color: #e74c3c; /* Red for delete button */
}

.delete-btn:hover {
    background-color: #c0392b; /* Darker red on hover */
}

/* Responsive Design */
@media (max-width: 768px) {
    .edit-container {
        width: 90%; /* Reduce container width on smaller screens */
    }

    .input-field {
        font-size: 1em; /* Adjust font size for smaller screens */
    }

    .tab-btn, .delete-btn {
        padding: 12px 20px; /* Adjust button padding */
        font-size: 1em;
    }
}
