* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    color: #f1f1f1;
    margin: 0;
    padding: 0;
}

/* Sidebar */
.dashboard-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #1f1f2e;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.sidebar-header {
    text-align: center;
    margin-bottom: 30px;
    background-color: #08081f;
    width: 100%;
    height: 150px;
    align-content: center;
}

.logo {
    width: 70px;
    margin-bottom: 10px;
}

.sidebar h2 {
    font-size: 1.4em;
    font-weight: bold;
    color: #f1f1f1;
}

.sidebar-nav {
    width: 100%;
    margin-bottom: 50px;
}

.nav-item {
    display: block;
    padding: 15px 20px;
    color: #bbbbbb;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.nav-item:hover, .nav-item.active {
    background-color: #3498db;
    color: #f1f1f1;
}

/* Main Content */
.main-content {
    flex: 1;
    padding: 20px;
    background-color: #bdddf1a2;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #333;
}

.top-nav h1 {
    font-size: 1.5em;
    color: #0e5683fc;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-name {
    font-size: 1em;
    margin-right: 15px;
    color: #13094b;
}

.back-btn {
    background-color: #13094b;
    color: #f1f1f1;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-btn:hover {
    background-color: #093654;
}

/* Form Container */
.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 50%;
}
h1{
    font-size: 1.6em;
    margin-bottom: 10px;
    color: #1f0404; 
    text-align: center;
}
h2 {
    font-size: 1.1 em;
    margin-bottom: 20px;
    color: #32af56;
}

.form-group {
    margin-bottom: 15px;
    color: #000;
}

label {
    font-size: 1em;
    display: block;
    margin-bottom: 5px;
}

select, input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

button.submit-btn {
    background-color: #112b54;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

button.submit-btn:hover {
    background-color: #0a1e38;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .main-content {
        margin-left: 0;
    }

    .form-container {
        width: 90%;
    }
}
